body{
    background-color:#FFDFDF;
    font-family: sans-serif;
}
header{
    padding: 20px;
    color:paleturquoise;
    border-bottom: 5px solid black;
    .cabecalho{ 
        display: flex;
        justify-content: space-around;
        
    }
     
}
#titulo{
    color: #F875AA;
    font-size: 50px;
    text-align: center;
}
.texto{
    color:black;
    font-size: 30px;
    text-align: justify;
}
.texto{
    color:black;
    font-size: 30px;
    text-align: justify;
}
#imagem{
    height: 350px;
    width: 350px;
    padding: 10px;
    margin: 10px;
    border: 3px solid  black;
    
}
    

.foto{
    height: 80px;
    width: 80px;
    padding: 10px;
    margin: 10px;foto 

}
#nuvem{
    height: 200px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 3px solid  black;
    border-radius: 20%;
}

 .listas{ 
    font-size: 35px;
    text-align: center;
    color:gray;
 }

.conteudo{
  background-color:FDF7E4;  
}

.listas1{
    list-style-position: inside;
}
.listas3{
    list-style:none;
}
