body{
    background-color:#FFDFDF;
}
#titulo{
    color: #F875AA;
    font-size: 50px;
    text-align: center;
}

.texto{
    color:black;
    font-size: 35px;
    text-align: justify;
}
.texto{
    color:black;
    font-size: 35px;
    text-align: justify;
}