body{
    background-color:#FFDFDF;
}
#titulo{
    color: #F875AA;
    font-size: 50px;
    text-align: center;
}
.texto{
    color:black;
    font-size: 30px;
    text-align: justify;
}
.texto{
    color:black;
    font-size: 30px;
    text-align: justify;
}
#imagem{
    height: 350px;
    width: 350px;
    padding: 10px;
    margin: 10px;
    border: 3px solid  black;
    border-radius: 20%;
}
    

<<<<<<< HEAD
.foto{
=======
.fo{
>>>>>>> 10e4c9603e7e33429c903cf4204c5df057b6ec4a
    height: 350px;
    width: 350px;
    padding: 10px;
    margin: 10px;foto 

<<<<<<< HEAD
}


 

.conteudo{
=======
}

 

.conteudo{
>>>>>>> 10e4c9603e7e33429c903cf4204c5df057b6ec4a
mi    background-color:FDF7E4;  
}
